 body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app-background {
  display: flex;
  min-height: 40vh;
} 

/*start Shopping list style-css*/

.container {
  margin-left: 2rem;
  margin-right: out;
  padding: 1rem;
  
}

.main-container {
  background-color: #f7fafc;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.main-container h1{
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom:5px;
  text-align:center;
}

.item-list {
  display: flex;
  flex-direction: column;
}
.item-list p{
  text-align: center; 
  font-weight: 600;
}
.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem; 
    margin-bottom: 0.5rem; 
    background-color: white;
    border-radius: 0.5rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-name{
  font-size: 0.3rem; 
  font-weight: 600;
}
.item-name span{
  display: block;
  font-size: 1rem; 
  padding: 2px;
}

.remove-item , .edit-item{
    padding: 0.2rem 0.3rem; 
    font-size: 1.5rem;
}

.total-item {
  text-align: center; 
  margin-top: 1rem; 
  font-size: 1rem;
  font-weight: 600;
  
}
/*ending Shopping List style-css*/


/*start Shopping form style-css*/


/*ending shopping style-css*/
.add-item-box {
  /* background: #fbc1bb; */
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.add-item-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: #ec645b;
  width: 20vw;
  max-width:50rem;
  height: 30px;
  padding: 10px 10px;
  cursor: pointer;
}

input::placeholder {
  color:#000;
}
input:focus {
  outline: 0;
}













button {
  background: transparent;
  border: none;
  margin: 4px;
  
}
button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}


.container-nav{
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: rgba(196, 177, 177, 0.89);
  padding: 2rem 0px;
  margin: 8px;
  width: 98vw;
  border-radius: 10px;
}
.container-nav h4{
  position: absolute;
  right: 0;
  left: 25px;
}
.counter-nav{
  position: absolute;
  right: 2px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link{
 
  padding: 0px 7px;
  text-decoration: none;
  color: #000;
}
.nav-sign{
  position: absolute;
  right: 3rem;
}
.nav-logn{
  padding: 0px 6px;
  text-decoration: none;
  color: #000000;
}



.signIn-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 35vw;
}

.signIn-container h1{
  text-align: center;
  font-size: 35px; 
  font-weight: 800;
  margin-bottom: 10px;
  text-decoration: underline wavy ;
}

.frm-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 4px #000000;
  height: 50vh;
  width: 40vw;
  border: 1px solid #000000;
  border-radius:15px 10px;
  padding:10px;
}

.input-sign label{
  display: block;
  margin-top: 10px;
  margin-bottom: 4px; 
  font-size: 18px; 
  font-weight: 800;
}

.input-sign input{
  padding: 10px 8px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  min-width: 20vw;
  margin-bottom: 6px;
}

.input-sign input::placeholder{
  font-size: medium;
  color: #000000;
}

.input-sign input:focus{
  outline: none;
}

.btn-sign button{
  background-color: #38ee38;
  color: #000;
  border: 1px solid #3d3d3d;
  padding: 3px 6px;
  margin-top: 0.4rem;
  width: 10rem;
  border-radius: 10px;
}
.btn span{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 900;
}



.loader-up{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loader{
  height: 1.5rem;
  width: 1.5rem;
  border: 2px dashed #000;
 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  opacity: 0.4;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}




 
